

<form class="form-inline">
    <div class="form-group mb-2">
        <input type="text" readonly class="form-control-plaintext" id="amount_inp" value="1">
    </div>
    <div class="form-group mb-2">
        <select class="form-control" id="currency_inp">
            <option>Default select</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
</form>

